{% extends "photosite/base.html" %}
{% load static %}

{% block "scripts" %}
<script src="{% static "js/uploading.js" %}"></script>
{% endblock %}

{% block "body" %}
<!-- {% if user.is_authenticated %}
<div class="container menu">
  <button data-toggle="collapse" data-target="#messagebox" class="button">
    Welcome, {{ user }}!
  </button>
  
  <div id="messagebox" class="collapse">
    This is some kind of profile information.
  </div>
</div>
{% endif %} -->

{% if user.is_authenticated %}
<div class="upload-area">

  <p>
    <button data-toggle="collapse" data-target="#messagebox" class="btn btn-primary btn-lg" onclick="upload_photo()">
    Upload photo
    </button>
  </p>

  <form id="upload_form" action="/upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" id="image_id" />
    <input type="submit" value="Upload" id="submit_button" />
  </form>
  
</div>
{% endif %}

<div class="container">
  {% for photo in photo_list %}

  {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}

    <div class="col-md-4">
      <img class="photo img-thumbnail" src='{{ photo.image.url }}'>
    </div>

  {% if forloop.counter|divisibleby:3 %}</div>{% endif %}

  {% endfor %}
</div>
{% endblock %}
