.photo {
    width: 100%;
    margin-bottom: 1em;
}

.jumbotron {
    background-color: #0DCEFF;
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron p {
    font-style: italic;
}

.upload-area {
    text-align: center;
}

.upload-area form {
    display: none;
}

